html {
  height: 100%; }

body {
  min-height: 100%; }

h1 {
  color: orange; }

#main {
  margin-top: 70px; }

#map {
  height: 100%; }

.map-container {
  margin-top: -19px;
  padding-right: 0px;
  height: 100%; }
